		<div class="footer">
			<span class="text-muted">&copy; QuizWhiz 2021</span> 
			<a href="https://rolanddev.netlify.app/" class="btn btn-sm btn-info">More from rolandDev</a>
		</div>
	</body>
</html>