<!DOCTYPE html>
<html>
    <head>
        <title>QuizWhiz</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    
    
    <div id="landing-header">
 		<h1>QuizWhiz<i class="fas fa-magic" style="color:goldenrod;"></i><i class="fas fa-brain"></i></h1><br>
         <h4>Welcome to QuizWhiz!</h3>
         <h4>Jump right in, make a quiz and take a quiz</h3>
         <h4>Feel free to share your scores on Twitter</h3>
		<a href="/quizes" class="btn btn-lg btn-success">View All Quizes</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("./partials/footer")%>